web/WEB-INF/wsdl/localhost_8085/webSproveedores.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="WSProveedoresService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://localhost:8085/webSproveedores?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="listarServiciosBuscados">
<part name="parameters" element="tns:listarServiciosBuscados"></part>
</message>
<message name="listarServiciosBuscadosResponse">
<part name="parameters" element="tns:listarServiciosBuscadosResponse"></part>
</message>
<message name="listarPromocionesBuscadas">
<part name="parameters" element="tns:listarPromocionesBuscadas"></part>
</message>
<message name="listarPromocionesBuscadasResponse">
<part name="parameters" element="tns:listarPromocionesBuscadasResponse"></part>
</message>
<message name="verificarProveedor">
<part name="parameters" element="tns:verificarProveedor"></part>
</message>
<message name="verificarProveedorResponse">
<part name="parameters" element="tns:verificarProveedorResponse"></part>
</message>
<message name="validarPasswordProv">
<part name="parameters" element="tns:validarPasswordProv"></part>
</message>
<message name="validarPasswordProvResponse">
<part name="parameters" element="tns:validarPasswordProvResponse"></part>
</message>
<message name="seleccionarServicioAListar">
<part name="parameters" element="tns:seleccionarServicioAListar"></part>
</message>
<message name="seleccionarServicioAListarResponse">
<part name="parameters" element="tns:seleccionarServicioAListarResponse"></part>
</message>
<message name="seleccionarPromocionAListar">
<part name="parameters" element="tns:seleccionarPromocionAListar"></part>
</message>
<message name="seleccionarPromocionAListarResponse">
<part name="parameters" element="tns:seleccionarPromocionAListarResponse"></part>
</message>
<message name="getNombreProveedor">
<part name="parameters" element="tns:getNombreProveedor"></part>
</message>
<message name="getNombreProveedorResponse">
<part name="parameters" element="tns:getNombreProveedorResponse"></part>
</message>
<portType name="WSProveedores">
<operation name="listarServiciosBuscados">
<input wsam:Action="http://WebServices/WSProveedores/listarServiciosBuscadosRequest" message="tns:listarServiciosBuscados"></input>
<output wsam:Action="http://WebServices/WSProveedores/listarServiciosBuscadosResponse" message="tns:listarServiciosBuscadosResponse"></output>
</operation>
<operation name="listarPromocionesBuscadas">
<input wsam:Action="http://WebServices/WSProveedores/listarPromocionesBuscadasRequest" message="tns:listarPromocionesBuscadas"></input>
<output wsam:Action="http://WebServices/WSProveedores/listarPromocionesBuscadasResponse" message="tns:listarPromocionesBuscadasResponse"></output>
</operation>
<operation name="verificarProveedor">
<input wsam:Action="http://WebServices/WSProveedores/verificarProveedorRequest" message="tns:verificarProveedor"></input>
<output wsam:Action="http://WebServices/WSProveedores/verificarProveedorResponse" message="tns:verificarProveedorResponse"></output>
</operation>
<operation name="validarPasswordProv">
<input wsam:Action="http://WebServices/WSProveedores/validarPasswordProvRequest" message="tns:validarPasswordProv"></input>
<output wsam:Action="http://WebServices/WSProveedores/validarPasswordProvResponse" message="tns:validarPasswordProvResponse"></output>
</operation>
<operation name="seleccionarServicioAListar">
<input wsam:Action="http://WebServices/WSProveedores/seleccionarServicioAListarRequest" message="tns:seleccionarServicioAListar"></input>
<output wsam:Action="http://WebServices/WSProveedores/seleccionarServicioAListarResponse" message="tns:seleccionarServicioAListarResponse"></output>
</operation>
<operation name="seleccionarPromocionAListar">
<input wsam:Action="http://WebServices/WSProveedores/seleccionarPromocionAListarRequest" message="tns:seleccionarPromocionAListar"></input>
<output wsam:Action="http://WebServices/WSProveedores/seleccionarPromocionAListarResponse" message="tns:seleccionarPromocionAListarResponse"></output>
</operation>
<operation name="getNombreProveedor">
<input wsam:Action="http://WebServices/WSProveedores/getNombreProveedorRequest" message="tns:getNombreProveedor"></input>
<output wsam:Action="http://WebServices/WSProveedores/getNombreProveedorResponse" message="tns:getNombreProveedorResponse"></output>
</operation>
</portType>
<binding name="WSProveedoresPortBinding" type="tns:WSProveedores">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="listarServiciosBuscados">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listarPromocionesBuscadas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="verificarProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="validarPasswordProv">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="seleccionarServicioAListar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="seleccionarPromocionAListar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getNombreProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="WSProveedoresService">
<port name="WSProveedoresPort" binding="tns:WSProveedoresPortBinding">
<soap:address location="http://localhost:8085/webSproveedores"></soap:address>
</port>
</service>
</definitions>