web/WEB-INF/wsdl/localhost_8085/webSproveedores.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://WebServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServices/">

<xs:element name="getNombreProveedor" type="tns:getNombreProveedor"></xs:element>

<xs:element name="getNombreProveedorResponse" type="tns:getNombreProveedorResponse"></xs:element>

<xs:element name="listarPromocionesBuscadas" type="tns:listarPromocionesBuscadas"></xs:element>

<xs:element name="listarPromocionesBuscadasResponse" type="tns:listarPromocionesBuscadasResponse"></xs:element>

<xs:element name="listarResDeProv" type="tns:listarResDeProv"></xs:element>

<xs:element name="listarResDeProvResponse" type="tns:listarResDeProvResponse"></xs:element>

<xs:element name="listarServiciosBuscados" type="tns:listarServiciosBuscados"></xs:element>

<xs:element name="listarServiciosBuscadosResponse" type="tns:listarServiciosBuscadosResponse"></xs:element>

<xs:element name="seleccionarPromocionAListar" type="tns:seleccionarPromocionAListar"></xs:element>

<xs:element name="seleccionarPromocionAListarResponse" type="tns:seleccionarPromocionAListarResponse"></xs:element>

<xs:element name="seleccionarServicioAListar" type="tns:seleccionarServicioAListar"></xs:element>

<xs:element name="seleccionarServicioAListarResponse" type="tns:seleccionarServicioAListarResponse"></xs:element>

<xs:element name="traerRsRp" type="tns:traerRsRp"></xs:element>

<xs:element name="traerRsRpResponse" type="tns:traerRsRpResponse"></xs:element>

<xs:element name="validarPasswordProv" type="tns:validarPasswordProv"></xs:element>

<xs:element name="validarPasswordProvResponse" type="tns:validarPasswordProvResponse"></xs:element>

<xs:element name="verificarProveedor" type="tns:verificarProveedor"></xs:element>

<xs:element name="verificarProveedorResponse" type="tns:verificarProveedorResponse"></xs:element>

<xs:complexType name="seleccionarServicioAListar">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="b" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="seleccionarServicioAListarResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataServicio" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataServicio">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="proveedor" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="descripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="precio" type="xs:float"></xs:element>
<xs:element name="imagenes" type="xs:base64Binary" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="origen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="destino" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="categorias" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNombreProveedor">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNombreProveedorResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validarPasswordProv">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validarPasswordProvResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarPromocionesBuscadas">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarPromocionesBuscadasResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataPromociones" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataPromociones">
<xs:sequence>
<xs:element name="promociones" type="tns:dataPromocion" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataPromocion">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="proveedor" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="porcentaje" type="xs:float"></xs:element>
<xs:element name="total" type="xs:float"></xs:element>
<xs:element name="servicios" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarProveedor">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarProveedorResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traerRsRp">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traerRsRpResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataRsRp" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataRsRp">
<xs:sequence>
<xs:element name="servicios" type="tns:dtRS" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="promociones" type="tns:dtRP" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtRS">
<xs:sequence>
<xs:element name="fechaIni" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="fechaFin" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="cantidad" type="xs:int"></xs:element>
<xs:element name="servicio" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="proveedor" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtRP">
<xs:sequence>
<xs:element name="fechaIni" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="fechaFin" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="cantidad" type="xs:int"></xs:element>
<xs:element name="promocion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="proveedor" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="seleccionarPromocionAListar">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="b" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="seleccionarPromocionAListarResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataPromocion" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarResDeProv">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarResDeProvResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataReservas" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataReservas">
<xs:sequence>
<xs:element name="reservas" type="tns:dataReserva" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataReserva">
<xs:sequence>
<xs:element name="numero" type="xs:int"></xs:element>
<xs:element name="cliente" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="estado" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="precioTotal" type="xs:float"></xs:element>
<xs:element name="fechaCreacion" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarServiciosBuscados">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarServiciosBuscadosResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataServicios" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataServicios">
<xs:sequence>
<xs:element name="servicios" type="tns:dataServicio" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>