src/conf/xml-resources/web-service-references/webSclientes/wsdl/localhost_8086/webSclientes.xsd_2.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://WebServices/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServices/">

<xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8086/webSclientes?xsd=1"></xs:import>

<xs:element name="ParseException" type="tns:ParseException"></xs:element>

<xs:element name="agregarPromoAreserva" type="tns:agregarPromoAreserva"></xs:element>

<xs:element name="agregarPromoAreservaResponse" type="tns:agregarPromoAreservaResponse"></xs:element>

<xs:element name="agregarServicioAreserva" type="tns:agregarServicioAreserva"></xs:element>

<xs:element name="agregarServicioAreservaResponse" type="tns:agregarServicioAreservaResponse"></xs:element>

<xs:element name="cambiarEstado" type="tns:cambiarEstado"></xs:element>

<xs:element name="cambiarEstadoResponse" type="tns:cambiarEstadoResponse"></xs:element>

<xs:element name="crearReserva" type="tns:crearReserva"></xs:element>

<xs:element name="crearReservaResponse" type="tns:crearReservaResponse"></xs:element>

<xs:element name="crearUserWeb" type="tns:crearUserWeb"></xs:element>

<xs:element name="crearUserWebResponse" type="tns:crearUserWebResponse"></xs:element>

<xs:element name="getDataCliente" type="tns:getDataCliente"></xs:element>

<xs:element name="getDataClienteResponse" type="tns:getDataClienteResponse"></xs:element>

<xs:element name="limpiar" type="tns:limpiar"></xs:element>

<xs:element name="limpiarResponse" type="tns:limpiarResponse"></xs:element>

<xs:element name="listarResDeCli" type="tns:listarResDeCli"></xs:element>

<xs:element name="listarResDeCliResponse" type="tns:listarResDeCliResponse"></xs:element>

<xs:element name="mostrarReserva" type="tns:mostrarReserva"></xs:element>

<xs:element name="mostrarReservaResponse" type="tns:mostrarReservaResponse"></xs:element>

<xs:element name="seleccionarProveedor" type="tns:seleccionarProveedor"></xs:element>

<xs:element name="seleccionarProveedorResponse" type="tns:seleccionarProveedorResponse"></xs:element>

<xs:element name="seleccionarReserva" type="tns:seleccionarReserva"></xs:element>

<xs:element name="seleccionarReservaResponse" type="tns:seleccionarReservaResponse"></xs:element>

<xs:element name="traerRsRp" type="tns:traerRsRp"></xs:element>

<xs:element name="traerRsRpResponse" type="tns:traerRsRpResponse"></xs:element>

<xs:element name="userPassValido" type="tns:userPassValido"></xs:element>

<xs:element name="userPassValidoResponse" type="tns:userPassValidoResponse"></xs:element>

<xs:element name="verificarUsuario" type="tns:verificarUsuario"></xs:element>

<xs:element name="verificarUsuarioResponse" type="tns:verificarUsuarioResponse"></xs:element>

<xs:complexType name="agregarServicioAreserva">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:int"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarServicioAreservaResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorOffset" type="xs:int"></xs:element>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="limpiar">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="limpiarResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="seleccionarProveedor">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="seleccionarProveedorResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="seleccionarReserva">
<xs:sequence>
<xs:element name="arg0" type="xs:int"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="seleccionarReservaResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarReserva">
<xs:sequence>
<xs:element name="arg0" type="xs:int"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarReservaResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataReserva" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataReserva">
<xs:sequence>
<xs:element name="numero" type="xs:int"></xs:element>
<xs:element name="cliente" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="estado" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="precioTotal" type="xs:float"></xs:element>
<xs:element name="fechaCreacion" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearUserWeb">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg4" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg5" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg6" type="xs:base64Binary" nillable="true" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearUserWebResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userPassValido">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userPassValidoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarUsuario">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarPromoAreserva">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:int"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarPromoAreservaResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getDataCliente">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataClienteResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataCliente" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataCliente">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="contrasenia" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="mail" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechaNac" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="imagen" type="xs:base64Binary" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiarEstado">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiarEstadoResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="listarResDeCli">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarResDeCliResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataReservas" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataReservas">
<xs:sequence>
<xs:element name="reservas" type="tns:dataReserva" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traerRsRp">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traerRsRpResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataRsRp" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataRsRp">
<xs:sequence>
<xs:element name="servicios" type="tns:dtRS" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="promociones" type="tns:dataRP" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtRS">
<xs:sequence>
<xs:element name="fechaIni" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="fechaFin" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="cantidad" type="xs:int"></xs:element>
<xs:element name="servicio" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="proveedor" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataRP">
<xs:sequence>
<xs:element name="df" type="tns:simpleDateFormat" minOccurs="0"></xs:element>
<xs:element name="fechaIni" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechaFin" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="cantidad" type="xs:int"></xs:element>
<xs:element name="promocion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="proveedor" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="simpleDateFormat">
<xs:complexContent>
<xs:extension base="tns:dateFormat">
<xs:sequence>
<xs:element name="2DigitYearStart" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="dateFormatSymbols" type="tns:dateFormatSymbols" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dateFormat" abstract="true">
<xs:complexContent>
<xs:extension base="tns:format">
<xs:sequence>
<xs:element name="calendar" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="lenient" type="xs:boolean"></xs:element>
<xs:element name="numberFormat" type="tns:numberFormat" minOccurs="0"></xs:element>
<xs:element name="timeZone" type="tns:timeZone" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="format" abstract="true">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="dateFormatSymbols">
<xs:sequence>
<xs:element name="amPmStrings" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="eras" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="localPatternChars" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="months" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="shortMonths" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="shortWeekdays" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="weekdays" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="zoneStrings" type="ns1:stringArray" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="numberFormat" abstract="true">
<xs:complexContent>
<xs:extension base="tns:format">
<xs:sequence>
<xs:element name="currency" type="tns:currency" minOccurs="0"></xs:element>
<xs:element name="groupingUsed" type="xs:boolean"></xs:element>
<xs:element name="maximumFractionDigits" type="xs:int"></xs:element>
<xs:element name="maximumIntegerDigits" type="xs:int"></xs:element>
<xs:element name="minimumFractionDigits" type="xs:int"></xs:element>
<xs:element name="minimumIntegerDigits" type="xs:int"></xs:element>
<xs:element name="parseIntegerOnly" type="xs:boolean"></xs:element>
<xs:element name="roundingMode" type="tns:roundingMode" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="currency" final="extension restriction">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="timeZone" abstract="true">
<xs:sequence>
<xs:element name="ID" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="rawOffset" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearReserva">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="b" type="xs:float"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearReservaResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:simpleType name="roundingMode">
<xs:restriction base="xs:string">
<xs:enumeration value="UP"></xs:enumeration>
<xs:enumeration value="DOWN"></xs:enumeration>
<xs:enumeration value="CEILING"></xs:enumeration>
<xs:enumeration value="FLOOR"></xs:enumeration>
<xs:enumeration value="HALF_UP"></xs:enumeration>
<xs:enumeration value="HALF_DOWN"></xs:enumeration>
<xs:enumeration value="HALF_EVEN"></xs:enumeration>
<xs:enumeration value="UNNECESSARY"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>