src/conf/xml-resources/web-service-references/webSclientes/wsdl/localhost_8086/webSclientes.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="WSClientesService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://localhost:8086/webSclientes?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="limpiar">
<part name="parameters" element="tns:limpiar"></part>
</message>
<message name="limpiarResponse">
<part name="parameters" element="tns:limpiarResponse"></part>
</message>
<message name="listarResDeCli">
<part name="parameters" element="tns:listarResDeCli"></part>
</message>
<message name="listarResDeCliResponse">
<part name="parameters" element="tns:listarResDeCliResponse"></part>
</message>
<message name="cambiarEstado">
<part name="parameters" element="tns:cambiarEstado"></part>
</message>
<message name="cambiarEstadoResponse">
<part name="parameters" element="tns:cambiarEstadoResponse"></part>
</message>
<message name="seleccionarReserva">
<part name="parameters" element="tns:seleccionarReserva"></part>
</message>
<message name="seleccionarReservaResponse">
<part name="parameters" element="tns:seleccionarReservaResponse"></part>
</message>
<message name="crearUserWeb">
<part name="parameters" element="tns:crearUserWeb"></part>
</message>
<message name="crearUserWebResponse">
<part name="parameters" element="tns:crearUserWebResponse"></part>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"></part>
</message>
<message name="mostrarReserva">
<part name="parameters" element="tns:mostrarReserva"></part>
</message>
<message name="mostrarReservaResponse">
<part name="parameters" element="tns:mostrarReservaResponse"></part>
</message>
<message name="getDataCliente">
<part name="parameters" element="tns:getDataCliente"></part>
</message>
<message name="getDataClienteResponse">
<part name="parameters" element="tns:getDataClienteResponse"></part>
</message>
<message name="userPassValido">
<part name="parameters" element="tns:userPassValido"></part>
</message>
<message name="userPassValidoResponse">
<part name="parameters" element="tns:userPassValidoResponse"></part>
</message>
<message name="verificarUsuario">
<part name="parameters" element="tns:verificarUsuario"></part>
</message>
<message name="verificarUsuarioResponse">
<part name="parameters" element="tns:verificarUsuarioResponse"></part>
</message>
<message name="crearReserva">
<part name="parameters" element="tns:crearReserva"></part>
</message>
<message name="crearReservaResponse">
<part name="parameters" element="tns:crearReservaResponse"></part>
</message>
<message name="agregarPromoAreserva">
<part name="parameters" element="tns:agregarPromoAreserva"></part>
</message>
<message name="agregarPromoAreservaResponse">
<part name="parameters" element="tns:agregarPromoAreservaResponse"></part>
</message>
<message name="seleccionarProveedor">
<part name="parameters" element="tns:seleccionarProveedor"></part>
</message>
<message name="seleccionarProveedorResponse">
<part name="parameters" element="tns:seleccionarProveedorResponse"></part>
</message>
<message name="agregarServicioAreserva">
<part name="parameters" element="tns:agregarServicioAreserva"></part>
</message>
<message name="agregarServicioAreservaResponse">
<part name="parameters" element="tns:agregarServicioAreservaResponse"></part>
</message>
<message name="traerRsRp">
<part name="parameters" element="tns:traerRsRp"></part>
</message>
<message name="traerRsRpResponse">
<part name="parameters" element="tns:traerRsRpResponse"></part>
</message>
<portType name="WSClientes">
<operation name="limpiar">
<input wsam:Action="http://WebServices/WSClientes/limpiarRequest" message="tns:limpiar"></input>
<output wsam:Action="http://WebServices/WSClientes/limpiarResponse" message="tns:limpiarResponse"></output>
</operation>
<operation name="listarResDeCli">
<input wsam:Action="http://WebServices/WSClientes/listarResDeCliRequest" message="tns:listarResDeCli"></input>
<output wsam:Action="http://WebServices/WSClientes/listarResDeCliResponse" message="tns:listarResDeCliResponse"></output>
</operation>
<operation name="cambiarEstado">
<input wsam:Action="http://WebServices/WSClientes/cambiarEstadoRequest" message="tns:cambiarEstado"></input>
<output wsam:Action="http://WebServices/WSClientes/cambiarEstadoResponse" message="tns:cambiarEstadoResponse"></output>
</operation>
<operation name="seleccionarReserva">
<input wsam:Action="http://WebServices/WSClientes/seleccionarReservaRequest" message="tns:seleccionarReserva"></input>
<output wsam:Action="http://WebServices/WSClientes/seleccionarReservaResponse" message="tns:seleccionarReservaResponse"></output>
</operation>
<operation name="crearUserWeb">
<input wsam:Action="http://WebServices/WSClientes/crearUserWebRequest" message="tns:crearUserWeb"></input>
<output wsam:Action="http://WebServices/WSClientes/crearUserWebResponse" message="tns:crearUserWebResponse"></output>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://WebServices/WSClientes/crearUserWeb/Fault/ParseException"></fault>
</operation>
<operation name="mostrarReserva">
<input wsam:Action="http://WebServices/WSClientes/mostrarReservaRequest" message="tns:mostrarReserva"></input>
<output wsam:Action="http://WebServices/WSClientes/mostrarReservaResponse" message="tns:mostrarReservaResponse"></output>
</operation>
<operation name="getDataCliente">
<input wsam:Action="http://WebServices/WSClientes/getDataClienteRequest" message="tns:getDataCliente"></input>
<output wsam:Action="http://WebServices/WSClientes/getDataClienteResponse" message="tns:getDataClienteResponse"></output>
</operation>
<operation name="userPassValido">
<input wsam:Action="http://WebServices/WSClientes/userPassValidoRequest" message="tns:userPassValido"></input>
<output wsam:Action="http://WebServices/WSClientes/userPassValidoResponse" message="tns:userPassValidoResponse"></output>
</operation>
<operation name="verificarUsuario">
<input wsam:Action="http://WebServices/WSClientes/verificarUsuarioRequest" message="tns:verificarUsuario"></input>
<output wsam:Action="http://WebServices/WSClientes/verificarUsuarioResponse" message="tns:verificarUsuarioResponse"></output>
</operation>
<operation name="crearReserva">
<input wsam:Action="http://WebServices/WSClientes/crearReservaRequest" message="tns:crearReserva"></input>
<output wsam:Action="http://WebServices/WSClientes/crearReservaResponse" message="tns:crearReservaResponse"></output>
</operation>
<operation name="agregarPromoAreserva">
<input wsam:Action="http://WebServices/WSClientes/agregarPromoAreservaRequest" message="tns:agregarPromoAreserva"></input>
<output wsam:Action="http://WebServices/WSClientes/agregarPromoAreservaResponse" message="tns:agregarPromoAreservaResponse"></output>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://WebServices/WSClientes/agregarPromoAreserva/Fault/ParseException"></fault>
</operation>
<operation name="seleccionarProveedor">
<input wsam:Action="http://WebServices/WSClientes/seleccionarProveedorRequest" message="tns:seleccionarProveedor"></input>
<output wsam:Action="http://WebServices/WSClientes/seleccionarProveedorResponse" message="tns:seleccionarProveedorResponse"></output>
</operation>
<operation name="agregarServicioAreserva">
<input wsam:Action="http://WebServices/WSClientes/agregarServicioAreservaRequest" message="tns:agregarServicioAreserva"></input>
<output wsam:Action="http://WebServices/WSClientes/agregarServicioAreservaResponse" message="tns:agregarServicioAreservaResponse"></output>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://WebServices/WSClientes/agregarServicioAreserva/Fault/ParseException"></fault>
</operation>
<operation name="traerRsRp">
<input wsam:Action="http://WebServices/WSClientes/traerRsRpRequest" message="tns:traerRsRp"></input>
<output wsam:Action="http://WebServices/WSClientes/traerRsRpResponse" message="tns:traerRsRpResponse"></output>
</operation>
</portType>
<binding name="WSClientesPortBinding" type="tns:WSClientes">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="limpiar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listarResDeCli">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cambiarEstado">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="seleccionarReserva">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="crearUserWeb">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="mostrarReserva">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDataCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="userPassValido">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="verificarUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="crearReserva">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="agregarPromoAreserva">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="seleccionarProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="agregarServicioAreserva">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="traerRsRp">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="WSClientesService">
<port name="WSClientesPort" binding="tns:WSClientesPortBinding">
<soap:address location="http://localhost:8086/webSclientes"></soap:address>
</port>
</service>
</definitions>