web/WEB-INF/wsdl/localhost_8088/webSDatos.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="WSCargarDatosService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://localhost:8088/webSDatos?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="cargarDatosDePrueba">
<part name="parameters" element="tns:cargarDatosDePrueba"></part>
</message>
<message name="cargarDatosDePruebaResponse">
<part name="parameters" element="tns:cargarDatosDePruebaResponse"></part>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"></part>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"></part>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"></part>
</message>
<message name="NoSuchAlgorithmException">
<part name="fault" element="tns:NoSuchAlgorithmException"></part>
</message>
<portType name="WSCargarDatos">
<operation name="cargarDatosDePrueba">
<input wsam:Action="http://WebServices/WSCargarDatos/cargarDatosDePruebaRequest" message="tns:cargarDatosDePrueba"></input>
<output wsam:Action="http://WebServices/WSCargarDatos/cargarDatosDePruebaResponse" message="tns:cargarDatosDePruebaResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://WebServices/WSCargarDatos/cargarDatosDePrueba/Fault/SQLException"></fault>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://WebServices/WSCargarDatos/cargarDatosDePrueba/Fault/ParseException"></fault>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebServices/WSCargarDatos/cargarDatosDePrueba/Fault/IOException"></fault>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://WebServices/WSCargarDatos/cargarDatosDePrueba/Fault/NoSuchAlgorithmException"></fault>
</operation>
</portType>
<binding name="WSCargarDatosPortBinding" type="tns:WSCargarDatos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="cargarDatosDePrueba">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"></soap:fault>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"></soap:fault>
</fault>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="WSCargarDatosService">
<port name="WSCargarDatosPort" binding="tns:WSCargarDatosPortBinding">
<soap:address location="http://localhost:8088/webSDatos"></soap:address>
</port>
</service>
</definitions>